body,
html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
header {
    position: fixed;
    width: 100%;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 21, 43, 0.7);
    color: #fff;
}
.scroll-animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*fonts*/
h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 10px 0;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
    font-weight: normal;
}
h4 {
    font-size: 18px;
    margin: 10px 0;
}

/*images*/
header img {
    width: 400px;
    margin: 0 50px;
}
.section-img {
    width: 50%;
    min-width: 300px;
}
@media screen and (max-width: 1176px) {
    .section-img {
        display: none;
    }
}
.webs img {
    width: 80%;
    min-width: 300px;
    object-fit: contain;
    transition: 0.3s;
}
.webs img:hover {
    filter: contrast(130%) saturate(120%);
}

button {
    padding: 15px 20px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: rgba(0, 21, 43, 0.9);
    margin-top: 20px;
    transition: 0.2s;
    box-shadow: 0px 2px 10px rgba(0, 21, 43, 0.7);
}
button:hover {
    cursor: pointer;
    transform: scale(1.07);
    box-shadow: 0px 5px 10px rgba(0, 21, 43, 0.7);
}

header div {
    align-self: center;
}
.bg-color-white {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    top: 400px;
    width: 100vw;
    position: absolute;
}
section {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: rgb(0, 21, 43);
    padding: 50px 250px;
}
.experience {
    text-align: right;
}
.webs {
    display: block;
    text-align: center;
}
.webs > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.individual-web {
    min-width: 450px;
    width: 50%;
    margin: 20px 0;
}
.web-title {
    background-color: #ffce35;
    width: 100%;
    margin: 0;
}
.webs h3 {
    margin-bottom: 80px;
}
.experience div,
.studies div {
    padding: 0 50px;
}
.contact {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.bodymovinanim {
    width: 90%;
    max-width: 50px;
    margin-bottom: 30px;
}

/*footer*/
footer {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 21, 43, 0.9);
    color: #fff;
    text-align: center;
    padding: 8px 0 40px 0;
}
ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 10px;
}
a {
    color: #fff;
    text-decoration: none;
    padding: 6px;
}
footer li {
    position: relative;
}
footer li::after {
    content: '';
    height: 2px;
    background-color: #fff;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s;
}
footer li:hover::after {
    width: 70%;
}
